---
layout: compress
---

<!DOCTYPE html>
<html lang="en" >
  {% include head.html %}  
  <body>
    <main>
	    
	    {% include navigation.html %}
	    
        {{ content }}
        	    
    </main>
    
    <!-- Highlight.js Core Script 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js" integrity="sha512-D9gUyxqja7hBtkWpPWGt9wfbfaMGVt9gnyCvYa+jojwwPHLCzUm5i8rpk7vD7wNee9bA35eYIjobYPaQuKS1MQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    -->

    <!-- Highlight.js Language Script -->
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/languages/swift.min.js"></script>

    <!-- Initialize Highlight.js -->
    <script>hljs.highlightAll();</script>
  </body>
</html>
